@model WebBatDongSan_DKCN.Models.LoaiBaiViet

@{
    ViewData["Title"] = "Xóa Loại Bài Viết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid dashboard-content">
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Xóa Loại Bài Viết</h2>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-action="Index" class="breadcrumb-link">Quản Lý Loại Bài Viết</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Xóa Loại Bài Viết</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <h3>Bạn có chắc chắn muốn xóa loại bài viết này không?</h3>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->

    <div class="row">
        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header p-4">
                    <h4 class="mb-0">Thông Tin Loại Bài Viết</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Tên Loại Bài Viết:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Tenloaibaiviet)</dd>
                    </dl>
                </div>
                <!-- Nút Thao Tác -->
                <div class="card-footer text-right">
                    <form asp-action="Delete" method="post">
                        <input type="hidden" asp-for="IdLoaibaiviet" />
                        <button type="submit" class="btn btn-danger">Xóa</button>
                        <a asp-action="Index" class="btn btn-primary">Quay lại danh sách</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
