
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Thông Tin Thành Viên Nhóm</h1>
            <ul class="breadcrumbs">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                <li class="active">Thông Tin Thành Viên Nhóm</li>
            </ul>
        </div>
    </div>
</div>
<!-- agent start -->
<div class="agent content-area-2">
    <div class="container">
        <div class="row ">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="agent-3">
                    <div class="photo">
                        <img src="~/img/avatar/avatar-5.jpg" alt="agent-3" class="img-fluid">
                    </div>
                    <div class="agent-details">
                        <h5><a href="agent-detail.html">Trịnh Tuấn Đan</a></h5>
                        <div class="contact">
                            <p>
                                <a href="mailto:Trinhtuandan16.01.2003@gmail.com"><i class="fa fa-envelope-o"></i>Trinhtuandan16.01.2003@gmail.com</a>
                            </p>
                            <p>
                                <a href="tel:0336656538"> <i class="fa fa-phone"></i>0336656538</a>
                            </p>
                        </div>
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="instagram-bg"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="agent-3">
                    <div class="photo">
                        <img src="~/img/avatar/avatar-7.jpg" alt="agent-3" class="img-fluid">                   
                    </div>
                    <div class="agent-details">
                        <h5><a href="agent-detail.html">Hoàng Lê Tuấn Khanh</a></h5>
                        <div class="contact">
                            <p>
                                <a href="mailto:Khanhhoag0@gmail.com"><i class="fa fa-envelope-o"></i>Khanhhoag0@gmail.com</a>
                            </p>
                            <p>
                                <a href="tel:0336656538"> <i class="fa fa-phone"></i>0336656538</a>
                            </p>                         
                        </div>
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="instagram-bg"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>         
        </div>
    </div>
</div>
<!-- agent end -->
<!-- Testimonial start -->
<div class="testimonial-5 content-area-20 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Main title -->
                <div class="main-title">
                    <h1>Our Testimonial</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                </div>
            </div>
            <div class="col-lg-12">
                <!-- Slick slider area start -->
                <div class="slick-slider-area">
                    <div class="row slick-carousel" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                        <div class="slick-slide-item">
                            <div class="testimonial-info">
                                <div class="user-section">
                                    <div class="user-thumb">
                                        <img src="~/img/avatar/avatar-5.jpg" alt="testimonial">
                                        <div class="icon">
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                    </div>
                                    <div class="user-name">
                                        <h5>
                                            <a href="#">Trịnh Tuấn Đan</a>
                                        </h5>
                                        <p>Web Designer, UI/UX</p>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>
                                        "Tâm sự của một sinh viên năm 4 vừa nhận điểm cuối cùng:
                                        1. Về học tập, mình thấy tiếc nuối năm nhất vì do chủ quan nên học hành chểnh mảng và cố gắng nhưng bị bằng khá ( không đạt chỉ tiêu ba má giao cho).
                                        2. Tiếc nuối vì chưa có cơ hội tham gia các hoạt động tình nguyện nhiều cùng bè bạn do thời gian kiếm tiền tự trang trải cuộc sống lấy đi khá nhiều thời gian.
                                        3. Về tình yêu: cũng có một mối tình vương vấn nhưng giờ đã kết thúc.
                                        4. Công việc hiện tại làm việc cho 2 cty xnk và có 1 lớp đào tạo nho nhỏ, chưa có gì nổi bật. Nhưng sau thời gian đi làm rút ra những quan điểm như sau, các sinh viên FTU chưa tốt nghiệp có thể tham khảo nhé!"
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="slick-slide-item">
                            <div class="testimonial-info">
                                <div class="user-section">
                                    <div class="user-thumb">
                                        <img src="~/img/avatar/avatar-7.jpg" alt="testimonial">
                                        <div class="icon">
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                    </div>
                                    <div class="user-name">
                                        <h5>
                                            <a href="#">Hoàng Lê Tuấn Khanh</a>
                                        </h5>
                                        <p>Web Designer, UI/UX</p>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>
                                        "Tâm sự của một sinh viên năm 4 vừa nhận điểm cuối cùng:
                                        1. Về học tập, mình thấy tiếc nuối năm nhất vì do chủ quan nên học hành chểnh mảng và cố gắng nhưng bị bằng khá ( không đạt chỉ tiêu ba má giao cho).
                                        2. Tiếc nuối vì chưa có cơ hội tham gia các hoạt động tình nguyện nhiều cùng bè bạn do thời gian kiếm tiền tự trang trải cuộc sống lấy đi khá nhiều thời gian.
                                        3. Về tình yêu: cũng có một mối tình vương vấn nhưng giờ đã kết thúc.
                                        4. Công việc hiện tại làm việc cho 2 cty xnk và có 1 lớp đào tạo nho nhỏ, chưa có gì nổi bật. Nhưng sau thời gian đi làm rút ra những quan điểm như sau, các sinh viên FTU chưa tốt nghiệp có thể tham khảo nhé!"
                                    </p>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial end -->