@model WebBatDongSan_DKCN.Models.LoaiBd

@{
    ViewData["Title"] = "Chi Tiết Loại Bất Động Sản";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid dashboard-content">
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Thông Tin Chi Tiết Loại Bất Động Sản</h2>
                <p class="pageheader-text">
                    Đây là thông tin chi tiết loại bất động sản hiện tại.
                </p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-action="Index" class="breadcrumb-link">Quản Lý Loại Bất Động Sản</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Chi Tiết Loại Bất Động Sản</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->

    <div class="row">
        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header p-4">
                    <h4 class="mb-0">Thông Tin Loại Bất Động Sản</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <!-- Tên Loại Bất Động Sản -->
                        <dt class="col-sm-3">Tên Loại:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.TenLoaibds)</dd>
                    </dl>
                </div>
                <!-- Nút Thao Tác -->
                <div class="card-footer text-right">
                    <a asp-action="Edit" asp-route-id="@Model.IdLoaibds" class="btn btn-primary">Sửa Loại</a>
                    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
                </div>
            </div>
        </div>
    </div>
</div>
